body {
    background-image: url('background-img.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    margin: 0;
}
h1 {
    color: #fff;
    text-align: center;
    margin-top: 20px;
    font-family: Arial, sans-serif;
    background-color: rgba(80, 126, 226, 0.8);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
ul {
    list-style-type: none;
    padding: 20px;
    margin: 0;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
ul li {
    margin-bottom: 10px 0;
}
